
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*====================================Header====================================*/
header {
    width: 100%;
    height: 700px; 
    background: url(../img/buseta\ portada.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

/* Mediante media queries, puedes establecer reglas específicas para pantallas pequeñas */
@media (max-width: 576px) {
    header {
        background-size: cover;
        height: 420px; 
    }
}

/* Header content */
.custom-padding {
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-right: 90px;
  }
  
/* Navbar background color */
header .navbar{
    background-color: rgba(0,0,0,0.5);
}
/* Navbar links */
.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
    color: white;
}

/*==================================== Menu Header====================================*/
#menu ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#menu .custom-dropdown-menu a {
    color: black;
  }
  
/*==================================== Carousel====================================*/

/*==================================== Mapa====================================*/
/* Estilos para el cuadro de información */
#info {
    display: none;
    border: 1px solid #ddd; /* Borde gris claro */
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9; /* Fondo gris claro */
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  /* Estilos para los párrafos dentro del cuadro */
  #info p {
    margin: 10px 0;
  }
  
/*==================================== Footer====================================*/
